* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Hide scrollbars */

    text-align: center;
}

body {
    background-color: rgb(0, 27, 0);
    margin: 0;
    padding: 0;
}

section.wrapper{
    text-align: center;
}

#canvas1{ 
    margin-top: 1%;
    margin-bottom: 1%;

    border:black 3px solid;
    display: inline;
    max-height: 100vh;
    max-width: 80vw;
}



#respawnButton {
    position: relative;
    margin-top: -20%;
    margin-left: -6vw;

    max-height: 20vh;
    max-width: 20vw;

	box-shadow:inset 0px 0.2vw 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:8px;
	border:3px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:3vh;
	padding:0.4vw 1.5vw;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
#respawnButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
    border:3px solid #ffffff;
}

#muteButton {
    position: relative;
    margin-top: -15vh;
    margin-left: -39vw;

    max-height: 20vh;
    max-width: 20vw;

	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:10px;
	border:0.4vw solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.8vw;
	font-weight:bold;
	padding:1.6vw 1.2vw;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
    border: 0.12vw solid black;
}
#muteButton:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
    border: 0.12vw solid white;
}

#genderButton {
	position: relative;
    margin-top: -15vh;
    margin-left: -30vw;

    max-height: 20vh;
    max-width: 20vw;

	background:linear-gradient(to bottom, #0044ff 5%, #0044ff 100%);
	background-color:#0044ff;
	border-radius:10px;
	border:0.4vw solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.8vw;
	font-weight:bold;
	padding:1.6vw 1.2vw;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
    border: 0.12vw solid black;
}
#genderButton:hover {
	background:linear-gradient(to bottom, #0044ff 5%, #0044ff 100%);
	background-color:#0044ff;
    border: 0.12vw solid white;
}

#jumpButton {
    position: relative;
    margin-top: -200vh;
    margin-left: -100vw;

    max-height: 200vh;
    max-width: 200vw;

	background-color:#00000000;
	display:inline-block;
	cursor:pointer;
	font-size:3000vw;
	padding:3000vw 3000vw;
	text-decoration:none;

	/* Disable tap highlight effect on the button */
	/*-webkit-tap-highlight-color: transparent; /* For iOS Safari */
    /*tap-highlight-color: transparent; /* For other mobile browsers */
}
#jumpButton:focus
{
	outline: none;
}

@media (max-width: 800px) {
	#genderButton {
	  /* Mobile styles here */
	  position: absolute;
	  margin-top: 0px;
    margin-left: -125px;
	font-size:30px;

	max-height: 200px;
    max-width: 200px;

	font-size: 5vh;

	}
}

@media (max-width: 800px) {
	#muteButton {
	  /* Mobile styles here */

	position: absolute;
	
	align-items: center;

	margin-top: 0px;
    margin-left: -25px;

	max-height: 200px;
    max-width: 200px;

	font-size: 5vh;
	}
}

@media (max-width: 800px) {
	#respawnButton {
	  /* Mobile styles here */

	position: absolute;
	
	align-items: center;

	margin-top: 100px;
    margin-left: -100px;

	max-height: 200px;
    max-width: 200px;

	font-size: 5vh;
	}
}

h1 {

	position: relative;

    max-height: 20vh;
    max-width: 100vw;

	font-size: 3vh;

	text-align: center;


	color: red;
	text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}
